@import 'maplibre-gl/dist/maplibre-gl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-gray-100 min-h-screen selection:bg-primary/30;
  }
}

/* Custom scrollbar hiding if needed */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}